<body>
    <section>
        <div class="title_div">
            <div class="title_subdiv">
                <h2 class="title_name text_formats header_text_format"><a href="{{default_site}}">NSBR Network</a></h2>
            </div>
            <div class="title_subdiv">
                <div class="space_filler"></div>

                {{#each sites}}
                <div class="title_items">
                    <div class="dropdown">
                        <h2 class="dropdown-btn">{{this.name}}</h2>
                        <div class="dropdown-content">
                            {{#each this.files}}
                            <a href="{{default_location}}/{{this.site_adress}}">{{this.name}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>


        <div class="content_div">


            <div class="container">
                <div class="logo">Sudoku</div>
                <div class="scoreBar">
                    <label style="position: relative; top:-13px;">score:</label>
                    <label id="score"> 0</label>
                    <div id="addScore"></div>
                </div>

                <div id="sudoku_container"></div>
                <div class="highscoreBar">
                    <label style="position: relative; top:-13px;">highscore:</label>
                    <label id="highscore"> 0</label>
                    <div id="addHighScore"></div>
                </div>
                <a class="restart" href="#">New Game</a>
            </div>

        </div>


    <footer>
      <div class="footer_div">
        <div class="footer_subdiv">
          <div class="copyright text_formats"> <small>© Copyright 2021, NSBR Network</small> </div>
        </div>
        <div class="footer_subdiv">
          <div class="space_filler"></div>
          <div class="title_items">
            <a href="https://www.facebook.com/groups/vlciherniskupina"><img class="sites_img" src="/img/facebook.png"
                alt=""></a>
          </div>
          <div class="title_items">
            <a href="http://discord.nsbrnetwork.net"><img class="sites_img" src="/img/discord.png" alt=""></a>
          </div>

        </div>
      </div>
    </footer>
    </section>
</body>